body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #fff;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%; 
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;  
    margin: 0 auto;    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

address {
    font-style: normal;
}

/*----------HEADER----------*/

.header {       
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    justify-content: space-between;    
}

.navigation {
    display: flex;
    align-items: center;    
}

.header-logo {    
    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-top: 16px;
    padding-bottom: 16px;    
}

.header-logo-span {
    color: #2e2f42;
}

.header-menu-list {
    display: none;        
}

.studio-class{
    position: relative;        
}

.studio-class::after{    
    content: '';    
    position: absolute;    
    width: 100%;
    height: 4px;
    background-color: #404bbf;   
    left: 0;
    border-radius: 2px;
    bottom: -1px;
}

.header-menu-list li:first-child .header-menu-link {
    color: #404bbf;
}

.header-menu-item:last-child {
    margin-right: 0;
}

.header-menu-list li:first-child .header-menu-link:hover,
.header-menu-list li:first-child .header-menu-link:focus {
    color: #404bbf;
}

.header-contacts{
    display: none;
}

.header-menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;    
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}
.header-contacts-info {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-list {
    display: flex;
    gap: 40px;    
}

.header-contacts-item:last-child {
    margin-right: 0;
}

.header-contacts-info:hover,
.header-contacts-info:focus {
    color: #404bbf;
}

.burger-btn{ 
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burger-icon{ 
    display: block;
    fill: #2f2f37;
}

/*mobil menu*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close{
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-icon{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: #404bbf;
    border: none;
}

.mobile-menu-close:hover .mobile-close-icon,
.mobile-menu-close:focus .mobile-close-icon {
    fill: #fff;
}

.mobile-menu-nav{
    margin-bottom: auto;
}

.mobile-menu-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-link {    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;    
    color: #2e2f42;    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: #404bbf;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;    
    margin-bottom: 48px;    
}

.mobile-contacts-info {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.mobile-contacts-info:hover,
.mobile-contacts-info:focus {
    color: #404bbf;
}

.social-link-icon {
    display: flex;
    gap: 40px;      
}

.mobile-social-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;    
    align-items: center;
    justify-content: center;
    text-decoration: none;    
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item-icon {
    fill: var(--text-color);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
    background-color: #404bbf;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .header-logo {        
        margin-right: 120px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-menu-list {
        display: flex;
        gap: 40px;
    }

    .header-contacts {
        font-style: normal;
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .header-contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-contacts-info {
        padding: 0; 
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;        
    }

    .burger-btn {
        display: none;
    }

    .mobile-menu{
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-logo {        
        margin-right: 76px;        
    }

    .header-contacts {
        display: block;
        font-style: normal;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .header-contacts-info {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;        
    }    
}
/*----------HERO----------*/

.hero {
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office/people-office-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 320px;
}

@media screen and (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office/people-office-mob@2x.jpg);
    }
}

.hero-title {
    font-weight: 700;
    max-width: 216px;
    font-size: 36px;
    line-height: 1.11111;    
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 72px;    
}

.hero-btn-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px;    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-link:hover,
.hero-btn-link:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .hero {        
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office/people-office-tab.jpg);
    }

        @media screen and (min-resolution: 2x) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office/people-office-tab@2x.jpg);
            }
        }

    .hero-title {        
        font-size: 56px;
        max-width: 496px;
        line-height: 1.07;        
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .hero {        
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office/people-office-desk.jpg);
    }

        @media screen and (min-resolution: 2x) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office/people-office-desk@2x.jpg);
            }
        }

    .hero-title { 
        margin-bottom: 72px;
    }
}

/*----------FUATURES----------*/

.fuatures {
    padding-top: 96px;
    padding-bottom: 96px;    
}

 .fuatures-list {
   display: flex;
   flex-wrap: wrap; 
   gap: 72px;     
}

.fuatures-item {
    width: 100%;    
}

.item-icon{
    display: none; 
}

.fuatures-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;    
}

.fuatures-item-text { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .fuatures-list {        
        gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }

    .fuatures-item {
        flex-basis: calc((100% - 24px) / 2);
        min-width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .fuatures {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .fuatures-list {
        display: flex;
        gap: 24px;
    }

    .fuatures-item {
        flex-basis: calc((100% - 72px) / 4);
        min-width: 264px;
    }

    .item-icon {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }
    
    .footer .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .fuatures-item-icon {
        display: block;
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    
    .fuatures-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;            
    }
    
    .fuatures-item-text {
        font-weight: 400;
        letter-spacing: 0.0195em;
    }        
}

/*----------OURTEAM----------*/

.ourteam {
    background: #f4f4fd;
    padding: 96px 0;    
}

.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.ourteam-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    padding-left: 12px;
    padding-right: 12px;    
}

.ourteam-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08); 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
}

.content-ourteam {
    padding: 32px 0;
}

.ourteam-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.ourteam-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.content-icon{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.content-ourteam-icon {
    width: 40px;
    height: 40px;    
    display: flex;
    align-items: center;
    justify-content: center;    
}

.social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.content-icon li:first-child .content-ourteam-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-item-icon{   
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .ourteam-list {
        display: flex;
        gap: 24px;
        row-gap: 64px;
        justify-content: center;
        padding-left: 92px;
        padding-right: 92px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .ourteam {        
        padding: 120px 0;
    }

    .ourteam-list {
        display: flex;
        gap: 24px;
        justify-content: center;
        padding: 0;
    }
}

/*----------OURPORTFOLIO----------*/

.ourportfolio {
    padding: 96px 0;    
}

.ourportfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;    
}

.ourportfolio-list {    
    display: flex;
    flex-wrap: wrap;    
    gap: 48px; 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-item{ 
    flex-direction: column; 
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.ourportfolio-item:hover .ourportfolio-cover-text{
    transform: translateY(0);    
}

.content-ourportfolio{  
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
    box-sizing: border-box;
}

.ourportfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;    
    margin-bottom: 8px
}

.ourportfolio-vacancy {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    
}

.ourportfolio-cover-wrap{
    position: relative;
    overflow: hidden;  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-cover-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background-color: #4d5ae5;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        overflow: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    
    .ourportfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;        
    }

    .ourportfolio-item {
        width: calc((100% - 24px) / 2);
        display: flex;        
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .ourportfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .ourportfolio-list {        
        row-gap: 48px;        
    }

    .ourportfolio-item {
        width: calc((100% - 48px) / 3);
        display: flex;        
        box-shadow: none;
    }

    .ourportfolio-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

/*----------FOOTER----------*/

:root {
    --primary-color: #4d5ae5;    
    --hover-color: #31d0aa;   
    --text-color: #f4f4fd;    
    --background-color: #2e2f42;    
}

.footer {
    background: var(--background-color);
    padding-top: 96px;
    padding-bottom: 96px;    
    max-width: none; 
    width: 100%;   
}

.footer .container{
    max-width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-container {      
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    flex-direction: column;
    align-items: center;
    text-align: center;
       
}

.footer-info {
    max-width: 288px;
}

.footer-logo {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
    display: inline-block;
    margin-bottom: 16px
}

.footer-logo-span {
    color: #FFFFFF;
}

.footer-text {    
    font-weight: 400;    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: left;
}

.footer-social {
    display: flex;    
    flex-direction: column;    
}

.text-icon{    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-icon {
    display: flex;
    gap: 16px;
}

.content-footer-icon {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-item-icon {
    fill: var(--text-color);
}

.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email{    
    display: flex;
    flex-wrap: wrap;
    max-width: 288px; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin: 0 auto; 
}

.text-email{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.form-input { 
    border: 1px solid #fff;
    border-radius: 4px;
    width: 100%;    
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 16px; 
}

.form-input::placeholder{    
    color: #ffffff;
}

.forms-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;    
    background: #4d5ae5;    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;       
    transition: 250ms ease, box-shadow 250ms ease;    
}

.icon-btn {
    fill: #fff; 
    margin-left: 16px;
}

.forms-btn:hover,
.forms-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .footer {
        padding-left: 92px;
    }

    .footer .container {
        max-width: 768px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0;
        text-align: left;
    }

    .footer-info {
        max-width: 264px;
        margin-right: 24px;
        margin-bottom: 72px;
    }

    .footer-text {        
        max-width: 264px;
    }

    .footer-email {
        display: block;
        flex-basis: 100%;
        text-align: left;
        margin: 0;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    .form-input {
        display: block;        
        width: 264px;       
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }

    .footer .container {
        max-width: 1158px;
    }

    .footer-container {
        display: flex;
        align-items: baseline;
        text-align: left;
        gap: 0;
    }

    .footer-info {        
        margin-right: 120px;
    }

    .footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    .footer-social {        
        margin-right: 80px;
    }    
}

/*----------BACKDROP----------*/

.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;    
    background-color: rgba(46, 47, 66, 0.4);  
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;    
}

.modal {
    width: 288px;
    min-height: 623px;
    /*width: 408px;
    min-height: 584px; */   
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    padding: 72px 16px 24px 16px;
    /*padding: 72px 24px 24px 24px;*/
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -50%) scale(1.5);
}

.close {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: #e7e9fc;  
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;     
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
    background-color: #404bbf;
    border: none;
}

.close:hover .close-icon,
.close:focus .close-icon {
    fill: #fff;
}

.modal-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}

.input-wrap{
    position: relative;
}

.modal-input{
    border: 1px solid rgba(46, 47, 66, 0.4);   
        border-radius: 4px;
        width: 100%;
        height: 40px;
        padding-left: 38px;
        padding-right: 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: transparent;
        outline: transparent;
}

.modal-input:focus{
    border-color:  #4d5ae5;    
}

.modal-input:focus + .modal-input-icon{
    fill: #4d5ae5;
}

.modal-input::placeholder{
    font-size: 12px;
    color: rgba(46, 47, 66, 0.4);
}

.modal-label{
    display: block;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;        
        margin-bottom: 4px;
}

.modal-input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field{
    margin-bottom: 8px;
}

.modal-textarea{         
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;  
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus{
    border-color: #4D5AE5;
}

.modal-comment {
    margin-bottom: 16px;
}

.modal-checkbox {    
    margin-bottom: 24px;    
}

.modal-check-text{
    display: flex;    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;        
    align-items: center;          
}
.modal-check-item {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;    
    flex-shrink: 0;
}

.modal-check:checked + .modal-check-text .modal-check-item {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.policy-color{
    line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.form-btn{
    display: block;
    margin: auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;    
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer        
}

.form-btn:hover,
.form-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .modal {            
        width: 408px;
        min-height: 584px;             
        padding: 72px 24px 24px 24px;            
    }
}